//Colors
$primary-color: #3366ff;

//Text
$primary-text-color: #404040;
$secondary-text-color: #8b8b8b;
$third-text-color: #fff;

//BG
$primary-bg: #fff;
$secondary-bg: #e7e4e4;
$third-bg: #08a6f0;

//SVG
$primary-svg: #404040;
